*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.logo, img {
    background-color:  #FC5A55;
    height: 90px;
    border-radius: 0px;
    float: left;
    margin: 1rem;
}
